.content_parent {
    background-color: #ffdfdd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    background-color: #ffdfdd;
  }

  .content_history {
    /* border: 1px solid black; */
    max-width: 1300px;
    width: 100%;
  }
  
  .header {
    background-color: #fea3aa;
    padding-right: 0rem;
    padding-left: 0rem;
    font-size: 8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin: auto;
  }

  .headerdiv {
    border-radius: 20px;
    margin-top: 1rem;
    background-color: #fea3aa;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0.5rem solid white;
  }

  .content_center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  
  .button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 ;
    justify-content: space-between;
    font-size: 32px;
    cursor: pointer;

  }

  .button_size {
    border-radius: 20px;
    font-size: 28px;
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: #fea3aa;
    border: 0.5rem solid white;
  }

  .box_table {
    margin-top: 2rem;
    padding: 0.4rem;
    height: 385px;
    max-width: 700px;
    width: 100%;
    overflow-y: scroll;
  }
  
  .table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    justify-content: center;
  }
  
  .table td, .table th {
    border: 1px solid black;
    padding: 8px;
  }
  
  .back-button {
    background-color: white;
    border: 1px solid #FEA3AA;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
  }

  .back_button {
    font-size: 28px;
  }
  
  .back-button:before {
    content: "\2190";
    margin-right: 10px;
  }